<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Docente</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Editar Docente</h1>
    <form th:action="@{/docentes/save}" th:object="${docente}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del docente" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <textarea type="text" class="form-control" th:field="*{apellido}" id="apellido" cols="12" rows="3"  required></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <textarea type="text" class="form-control" th:field="*{email}" id="email" cols="12" rows="3"  required></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <textarea type="text" class="form-control" th:field="*{telefono}" id="telefono" cols="12" rows="3"  required></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="escuela">Escuela</label>
                    <textarea type="text" class="form-control" th:field="*{escuela}" id="escuela" cols="12" rows="3"  required></textarea>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a th:href="@{/docentes}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</body>
</html>
