<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
    <!-- Agrega tus hojas de estilo y scripts aquí -->
</head>
<body>
<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
            title:"Confirmación",
            text:'[[ ${msg} ]]',
            icon: "success"
            });
        </script>
    </div>
    <div th:if="${error != null}">
        <script>
            Swal.fire({
            title:"Error",
            text:'[[ ${error} ]]',
            icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Estudiantes</h1>
    <a th:href="@{/estudiantes/create}" class="btn btn-outline-primary">Nuevo estudiante</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Pin</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${estudiantes}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.pin}"></td>
            <td>
                <a th:href="@{/estudiantes/details/{id}(id=${item.id})}" class="btn btn-outline-secondary">Ver</a>
                <a th:href="@{/estudiantes/edit/{id}(id=${item.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/estudiantes/remove/{id}(id=${item.id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav class="Page navegation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/estudiantes?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
